.navbar {
	background-color: white;
	padding: 10px;
}

body {
	background-color: aliceblue;
}

.content {
	padding: 10px;
	padding-right: 30px;
}

#left {
	height: 100vh;
	margin-right: 20px;
	background-color: white;
	padding: 10px;
}
